:root {
	/* Background Variables */
	--background-color: #f0f0f0; /* Main Background Color */
	--background-input: ##cccccc; /* Input Field Background Color */
	--background-column: #353535; /* Background for Apps Container */
	--background-settings: #b0b0b0; /* Settings Card Background */
	--background-buttons: #7a7a7a; /* Button Background Color */
	--tab-active-background: #f0f0f0; /* Accent Color for Tabs */
	--tab-inactive-background: ##cccccc; /* Background Color for Tabs Not In Use */
	--slider-active-background: #4caf50; /* Active Slider Background Color */
	--slider-inactive-background: #ccc; /*  Slider Background Color */
	--nav-image: url("/./assets/media/favicon/main.png"); /* Nav Logo */
	/* Text Variables */
	--text-primary: #ff0000; /* Primary Text Color */
	--text-dark: #ff0000; /* Dark Text Color for Error Page, Scrollbar, and Particles */
	--text-placeholder: #ff0000; /* Placeholder Text Color */
	/* Other Variables */
}
