.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fixed-nav-bar #icon-container {
	display: flex;
	align-items: center;
	height: 100%;
}

img {
	width: 100%;
	height: auto;
	padding-top: 5px;
}

.fixed-nav-bar-container {
	min-width: 5vw;
	min-height: 10vh;
	display: inline;
}

.fixed-nav-bar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px; /* Adjusted width */
    height: 100vh; /* Full height */
    padding: 10px 0; /* Adjusted padding */
    box-sizing: border-box;
    background-color: var(--background-nav);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0; /* Remove rounded corners */
    z-index: 100;
    position: fixed;
}

.fixed-nav-bar .icon {
	position: relative;
	text-transform: uppercase;
	font-size: 12px; /* Smaller font size */
	font-family: "Inter", sans-serif;
	cursor: pointer;
	color: var(--text-primary);
	font-weight: 600;
	margin-left: 10px;
	margin-bottom: 20px; /* Space between links */
	font-style: normal;
	text-decoration: none;
	transition: all 0.2s ease;
	display: flex;
	align-items: center;
}

.fixed-nav-bar .icon:hover {
	transform: none; /* Remove hover transform */
	font-weight: 800;
}

.fixed-nav-bar .navbar-icon {
	font-size: 24px; /* Adjust icon size */
	margin-right: 10px; /* Space between icon and text */
}

.fixed-nav-bar .navbar-link {
	display: flex;
	align-items: center;
	color: var(--text-primary);
	text-decoration: none;
}

.fixed-nav-bar .navbar-link:hover {
	color: var(--hover-color); /* Change color on hover */
}

.fixed-nav-bar-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align items to the left */
	justify-content: flex-start; /* Start from the top */
	height: 100vh; /* Full height */
	padding: 10px 15px; /* Padding for content */
}

.fixed-nav-bar-right .navbar-link {
	margin: 20px 0; /* Vertical spacing */
	font-size: 12px; /* Smaller text */
	text-align: left; /* Align text to the left */
}

.navbar-icon {
	margin-right: 5px;
	transition: all 0.2s ease;
}

.navbar-link {
	margin-right: 5px;
}

@media (max-width: 768px) {
	.fixed-nav-bar-right .navbar-link {
		font-size: 4.5vw;
	}
}

@media (orientation: portrait) {
	img {
		height: 48px;
	}
}
