.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fixed-nav-bar {
    top: -17px;
    left: 0;
    bottom: 0;
    width: 84px;
    padding: 0px 0;
    box-sizing: border-box;
    background-color: #4b5290;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start; /* Align items at the top */
}

#icon-container {
    position: fixed; /* Fixes the position on the page */
    top: -17px; /* Position from the top */
    left: 20px; /* Position from the left */
    width: 84px; /* Fixed width */
    height: 110px; /* Fixed height */
    z-index: 110; /* Ensure it's above other elements */
}

.fixed-nav-bar .icon {
    text-transform: uppercase;
    font-size: 10px; /* Reduced font size */
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 15px; /* Adjusted space between links */
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fixed-nav-bar .icon:hover {
    font-weight: 800;
}

.fixed-nav-bar .navbar-icon {
    font-size: 20px; /* Fixed icon size */
    margin-bottom: 5px; /* Space between icon and text */
}

.fixed-nav-bar .navbar-link:hover {
    color: var(--hover-color);
}

.navbar-img {
    width: 84px; /* Match the image dimensions */
    height: 71px;
    display: block;
    margin: -7px 0; /* Adjust spacing between images */
}

/* Specific rule for the image at /assets/media/favicon/main.png */
.fixed-nav-bar .navbar-img[src='/assets/media/favicon/main.png'] {
    height: 84px; /* Set height to match the specific image */
    margin: 0; /* Adjust spacing specifically for this image */
}

.fixed-nav-bar-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 15px 0; /* Adjust padding */
}

.fixed-nav-bar .navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (max-width: px) {
    .fixed-nav-bar-right .navbar-link {
        font-size: 4.5vw;
    }
}

@media (orientation: portrait) {
    img {
        height: 48px;
    }
}
